extends layout.pug

block content
  div(ng-controller="ideController")
    div#editor
    button.btn.btn-ghost.btn-primary#run Run Code
    .modal#modal
        .modal-content#modalstuff
            span.close &times;